
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_NonlinearLayout.cshtml";
}

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="pnlExecute" role="tabpanel" style="margin-top:5px;">
        Execute Panel
    </div>
    <div class="tab-pane" id="pnlCode" role="tabpanel">
        Code Panel
    </div>
    <div class="tab-pane" id="pnlNotes" role="tabpanel">
        Notes Panel
    </div>
</div>
