@{
    ViewBag.Title = "Linear Collections";
    Layout = "~/Views/Shared/_LinearLayout.cshtml";
}
<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="pnlPractice" role="tabpanel"  style="margin-top:5px;">
        
    </div>
    <div class="tab-pane" id="pnlSyntax" role="tabpanel">
        
    </div>
    <div class="tab-pane" id="pnlNotes" role="tabpanel">
        
    </div>    
</div>